.dropdownTrigger {
	position: absolute;
	top: 13px;
	right: 10px;

	width: 3em;
	height: 3em;

	color: #101a28;
	border: none;
	outline: none;
	background-color: transparent;

	cursor: pointer;
}

.arrowDown {
	transform: rotate(0deg);
	transition: transform 0.3s ease;
}

.arrowUp {
	transform: rotate(180deg);
	transition: transform 0.3s ease;
}
